---
import Layout from '../../layouts/Layout.astro';
import { test } from './testimonial.js';
import Image from 'astro/components/Image.astro';
---

<Layout title="grid">
	<main
		class="flex flex-col justify-center items-center  md:w-4/5 m-auto font-['Barlow Semi Condensed'] p-5"
	>
		<div class="grid md:grid-cols-4 gap-3">
			{
				test.map((test) => (
					<div
						class={`card rounded-lg relative ${test.bgColor} ${test.wideCard ? 'md:col-span-2 ' : ''}${test.longCard ? 'md:row-span-2' : ''} ${test.name === 'Kira Whittle' ? 'md:col-start-4 md:col-end-5 md:row-start-1 md:row-end-3' : ''} p-3 shadow`}
					>
						<div class="card-content flex gap-3 items-center">
							<div class="grid grid-flow-col">
								<Image
									src={test.image}
									alt={test.name}
									class="card-image rounded-full border-2 border-violet-400 w-7"
								/>
								{test.quoteImage && (
									<Image
										src={test.quoteImage}
										alt="Quote marks"
										class="quoteImage absolute right-5 w-28 top-0 z-10"
									/>
								)}
							</div>
							<div class={` ${test.mainColor}`}>
								<h3 class="font-medium text-xs">{test.name}</h3>
								<h4 class=" opacity-50 text-xs font-medium">
									Verified Graduate
								</h4>
							</div>
						</div>

						<h2
							class={` text-lg font-semibold pt-2 relative z-10 ${test.mainColor} `}
						>
							{test.quote}
						</h2>
						<blockquote
							class={`opacity-70 ${test.quoteColor} text-xs pt-4 pb-8 `}
						>
							{test.largeQuote}
						</blockquote>
					</div>
				))
			}
		</div>
	</main>
</Layout>
